<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | MiniKart</title>
    <link rel="stylesheet" href="/stylesheets/home/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .bi-box-arrow-right {
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="logo" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products?skip=0&take=8">Products</a></li>
                    <% if (active === true) { %>
                        <li><a href="/users/dashboard"><%= userTbl.name %></a></li>
                        <li><a href="/users/logout"><i class="bi bi-box-arrow-right"></i></a></li>
                    <% } else { %>
                        <li><a href="/users/login">Login</a></li>
                    <% } %>
                </ul>
            </nav>
            <% if (active === true) { %>
                <a href="/cart"><img src="/images/cart.png" width="30px" height="30px"></a>
            <% } %>
            <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table id="table">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>

            <% cartItems.forEach(col => { %>
                <tr class="table-row-one">
                    <td>
                        <div class="cart-info">
                            <img src="<%= col.product.thumb_img.replace('public', '') %>">
                            <div>
                                <%
                                    const longSentence = col.product.name;
                                    const maxLength = 30;
                                    const truncatedSentence = longSentence.length > maxLength ? longSentence.substring(0, maxLength) + '...' : longSentence;
                                %>

                                <p><%= truncatedSentence %></p>
                                <small>Price: &#8377;<%= col.product.dicount_price %>.00</small>
                                <br>
                                <a href="/remove-cart/<%= col.id %>" style="color: #BD3638;">Remove</a>
                            </div>
                        </div>
                    </td>
                    <td><%= col.quantity %></td>
                    <td>&#8377;<%= col.quantity *  col.product.dicount_price %>.00</td>
                </tr>
            <% }) %>
            
        </table>
        <div class="total-price">
            <table id="table-output">
                <tr>
                    <td>Subtotal</td>
                    <td>&#8377;<span id="subtotal"></span>.00</td>
                </tr>
                <tr>
                    <td>Total items</td>
                    <td><span id="quantityItem" ></span></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>&#8377;<span id="total-amt"></span>.00</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="/">Check Out</a>
                    </td>
                </tr>
            </table>
        </div>

        
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png">
                        <img src="/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/images/logo-white.png">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Amal A M</p>
        </div>
    </div>

    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    <script>
        const table = document.getElementById('table');
        const subtotal = document.getElementById('subtotal');
        const totalAmt = document.getElementById('total-amt');
        const quantityItem = document.getElementById('quantityItem');

        const numberOfrows  = table.rows.length - 1;
        // let rows = table.rows;
        let subTotal = 0;
        let totalItems = 0;

        // loop for calc subtotal in each rows in table
        for (let startIndex = 1; startIndex <= numberOfrows; startIndex++) {
            let rows = table.rows[startIndex];
            let col = rows.cells[2];
            let lastCol = rows.cells[2].innerHTML;

            let cost = lastCol.replace('₹','');

            cost = parseFloat(cost)
            subTotal += cost;
            
        }

        // loop for calc items count in each rows in table
        for (let startIndex = 1; startIndex <= numberOfrows; startIndex++) {
            let rows = table.rows[startIndex];
            let col = rows.cells[1];
            let items = rows.cells[1].innerHTML;

            items = parseInt(items)
            totalItems += items;
            
        }

        subtotal.innerHTML = subTotal;
        totalAmt.innerHTML = subTotal;

        quantityItem.innerHTML = totalItems;



    </script>


</body>

</html>