<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | User</title>
    <link rel="stylesheet" href="/stylesheets/user/dashboard.css">
    <style>
        table {
            border-collapse: collapse;
        }
        table tr, th, td {
            padding: 10px 14px;
            border: 1px solid #ffffff;
        }
    </style>
</head>
<body>
    <% include sidebar.ejs %>

    <div class="main-content">
        <!-- Your data display content goes here -->
        <h1>Order List</h1>

        <table>
            <tr>
                <th>#</th>
                <th>Card Holder Name</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            <% let count = 1; %>
            <% payment.forEach(col => { %>
                <tr>
                    <td><%= count %></td>
                    <td><%= col.cardHolderName %></td>
                    <td><%= col.product.name %></td>
                    <td><%= col.quantity %></td>
                    <td>&#8377;<%= col.amount %></td>
                    <td style="color: rgb(94, 199, 94);">Successful</td>
                </tr>
                <% count ++; %>
            <% }) %>
        </table>


    </div>

    <script src="/javascripts/theme.js"></script>
</body>
</html>
